[Unit]
Description=RClone Google Drive Mount
After=network-online.target

[Service]
Type=simple                            # vvv Note: chown $USER:$USER, otherwise root
ExecStart=/usr/bin/rclone mount gdrive: /gdrive \
    --vfs-cache-mode writes \
    --rc \
    --rc-no-auth \
    --rc-web-gui \
    --rc-web-gui-no-open-browser \
    --rc-addr localhost:5572
ExecStop=/bin/umount /gdrive
Restart=on-failure

[Install]
WantedBy=default.target
