// Run
// lessc ~/.config/waybar/less/style.less ~/.config/waybar/style.css 
// or
// less-watch-compiler ~/.config/waybar/less/ ~/.config/waybar/ 
// or something idk

@import "colors-light.less"; // swap this line

* {
    font-family: 'FiraCode Nerd Font';
    background: transparent;
    border-color: @text;
    color: @text;
}

@import "topbar.less";
@import "bottombar.less";