* {
  font-family: 'FiraCode Nerd Font';
  background: transparent;
  border-color: #4c4f69;
  color: #4c4f69;
}
#workspaces button {
  padding: 0 5px;
  font-size: 0;
  border-radius: 1rem;
  background-color: #d4ffff;
  border-color: #4c4f69;
  color: #4c4f69;
  margin: 10px 2px 0;
}
#workspaces button.empty {
  background-color: #c3c3c3;
  opacity: 0.5;
}
#workspaces button.active {
  background-color: aqua;
  opacity: 1;
}
#user {
  background-color: #eff1f5;
  padding: 4px 10px;
  margin: 10px 10px 0 0;
  border-radius: 8px;
  opacity: 0.7;
}
#user:hover {
  opacity: 1;
}
#group-power * * * * {
  color: #d20f39;
  font-size: 18px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #eff1f5;
  opacity: 0.7;
}
#group-power * * * *:hover {
  opacity: 1;
}
#custom-shutdown {
  padding: 0 10px 2px 6px;
}
#custom-quit {
  padding: 1px 9px 1px 7px;
}
#custom-reboot {
  padding: 0 8px 2px 7px;
}
#custom-lock {
  padding: 0 8px 2px 7px;
}
#clock {
  background-color: #eff1f5;
  border: 1px solid aqua;
  border-bottom: none;
  padding: 4px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
