* {
  font-family: 'FiraCode Nerd Font';
  background: transparent;
  color: #4c4f69;
}
#window {
  margin-top: 30px;
  background-color: #eff1f5;
  border-color: #4c4f69;
  border-radius: 8px;
  opacity: 0.8;
}
#clock {
  background-color: #eff1f5;
  padding: 4px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#workspaces button {
  padding: 0 5px;
  font-size: 0;
  border-radius: 1rem;
  background-color: #d4ffff;
  border-color: #4c4f69;
  color: #4c4f69;
  margin: 2px 2px 0;
}
#workspaces button.empty {
  padding: 0 5px;
  font-size: 0;
  border-radius: 1rem;
  background-color: #c3c3c3;
  border-color: #4c4f69;
  color: #4c4f69;
  margin: 2px 2px 0;
}
#workspaces button.active {
  padding: 0 5px;
  font-size: 0;
  border-radius: 1rem;
  background-color: aqua;
  border-color: #4c4f69;
  color: #4c4f69;
  margin: 2px 2px 0;
}
#custom-menu {
  color: aqua;
  font-size: 32px;
  padding: 0 6px 0 0;
  margin-bottom: 25px;
}
#custom-menu:hover {
  color: aqua;
  font-size: 80px;
  padding: 0 18px 0 0;
  margin-bottom: 17px;
}
#user {
  background-color: #eff1f5;
  padding: 4px 10px;
  margin: 10px 10px 0 0;
  border-radius: 8px;
  opacity: 0.3;
}
#user:hover {
  opacity: 1;
}
#custom-shutdown {
  color: #d20f39;
  font-size: 18px;
  padding: 0 10px 2px 6px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #eff1f5;
}
#custom-quit {
  color: #d20f39;
  font-size: 18px;
  padding: 1px 9px 1px 7px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #eff1f5;
}
#custom-reboot {
  color: #d20f39;
  font-size: 18px;
  padding: 0 8px 2px 7px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #eff1f5;
}
#custom-lock {
  color: #d20f39;
  font-size: 18px;
  padding: 0 8px 2px 7px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #eff1f5;
}
